body {
    background-color: #14202B;
    color: #FFF9E4;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: row;
    width: calc(100% - 20px);
    height: calc(100% - 20px);
}

#navigation {
    width: 200px;
    border-right: 1px solid #202A33;
    display: flex;
    flex-direction: column;
}

#main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0 10px 0 0;
}

#mainOuter {
    padding: 0 10px;
    max-width: 750px;
    flex-basis: auto;
    width: 100%;
    height: 100%;
    display: grid;
    overflow: auto;
}

#mainOuter::-webkit-scrollbar {
    width: 4px;
}

#mainOuter::-webkit-scrollbar-track {
    border-radius: 3px;
    background-color: #14202B;
    border: 0;
}

#mainOuter::-webkit-scrollbar-thumb {
    border-radius: 3px;
    background-color: #2c3e50;
}

.mainInner {
    display: flex;
    flex-direction: column;
    grid-area: 1 / 1;
    animation: fadeIn 200ms ease-out;
    margin-right: 10px;
}

.scrollPad {
    height: 75px;
}

.fade-out-view {
    animation: fadeOut 150ms ease-in forwards;
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
}

.actionPanel {
    position: absolute;
    right: 10px;
    bottom: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.btPrimary {
    margin: 3px 0;
    align-items: center;
    background-color: #202A33;
    border: 1px solid #3C4A56;
    border-radius: 11px;
    box-sizing: border-box;
    color: #FFF9E4;
    font-size: 1rem;
    font-weight: 700;
    line-height: 34px;
    padding: 2px 12px;
    text-align: left;
    transition: border .2s ease-in-out, box-shadow .2s ease-in-out;
    white-space: nowrap;
    word-break: break-word;
}

.btPrimary.recording {
    outline: 2px solid #f03400 !important;
    background-color: #5e382e !important;
}

.btPrimary:active,
.btPrimary:hover,
.btPrimary:focus {
    outline: 0;
}

.btPrimary:active {
    background-color: #334351;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
}

.btPrimary:hover {
    background-color: #334351;
    border-color: #526675;
}

.btPrimary:active:hover,
.btPrimary:focus:hover,
.btPrimary:focus {
    background-color: #334351;
    box-shadow: rgba(0, 0, 0, 0.12) 0 1px 3px 0 inset;
    color: #FFFFFF;
}

#search {
    width: 95%;
    margin: 3px 0;
    align-items: center;
    background-color: #202A33;
    border: 1px solid #3C4A56;
    border-radius: 11px;
    box-sizing: border-box;
    color: #FFF9E4;
    line-height: 34px;
    padding: 2px 12px;
    text-align: left;
    transition: border .2s ease-in-out, box-shadow .2s ease-in-out;
    position: relative;
}

#search-input {
    width: 100%;
    background: none;
    border: 0;
    font-size: 1rem;
    padding: 2px;
    box-sizing: border-box;
    outline: 0;
    color: #FFF9E4;
}

#search-list {
    position: absolute;
    top: 100%;
    /* places it directly below the input */
    left: 0;
    width: 100%;
    /* match input width */
    z-index: 999;
    /* float above other content */
    margin: 0;
    padding: 0;
    background: #3C4A56;
    overflow: hidden;
    border: none;
    outline: 0;
}

#search-list option {
    padding: 5px;
    cursor: pointer;
    color: #fff;
}

#search-list option:checked {
    /* you apparently can't really style the selected element, but you can fill it with a raw 1x1 gif of the color */
    /* the color doesn't really do anything here */
    background: #646281 repeat url("data:image/gif;base64,R0lGODdhAQABAIABAAAAAGRigSwAAAAAAQABAAACAkwBADs=");
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    border: 1px solid #fff;
}

.folderSumary {
    background: none;
    border-left: 4px solid #888;
    margin-left: 5px;
    margin-right: -5px;
    padding-left: 5px;
}
.folderSumary textarea {
    background: none;
    color: #fff;
    margin-left: 5px;
    outline: 1px solid #888;
    border-radius: 4px;
}
.folderSumary textarea:focus {
    outline: 1px solid #fff;
}
.folderSumaryHead.collapseHead{
    margin: 0 10px 10px 10px;
}
.folderSumary .lblSumHead{
    font-size: medium;
    color: #888;
    margin: 5px;
}
.folderSumary button{
    margin: 2px 10px;
    background: none;
    border: 0;
    outline: 1px solid #888;
    border-radius: 3px;
    color: #888;
}
.folderSumary button:hover{
    outline: 1px solid #fff;
    color: #fff;
}


.bubble {
    animation: fadeInScale 200ms ease-out;
    width: calc(100% - 12px);
    margin: 6px 4px 6px 4px;
    display: grid;
    padding: 8px;
    border-radius: 11px;
    outline: 1px solid #869aa8;
    background-color: #263D51;
    border: 0;
    color: #FFF9E4;
    overflow: hidden;
}


@keyframes fadeInScale {
    from {
        opacity: 0;
        transform: scale(0.95);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.fade-out {
    animation: fadeOutScale 200ms ease-in forwards;
}

@keyframes fadeOutScale {
    from {
        opacity: 1;
        transform: scale(1);
    }

    to {
        opacity: 0;
        transform: scale(0.95);
    }
}

.childNote {
    margin-left: 20px;
    width: calc(100% - 12px - 20px);
    background-color: #213647;
}

.orphanedNote {
    background-color: #213647;
}

/* This enables auto-sizing the text area */
.growWrap {
    display: grid;
}

.growWrap::after {
    content: attr(data-replicated-value) " ";
    white-space: pre-wrap;
    visibility: hidden;
}

.growWrap>textarea {
    resize: none;
    overflow: hidden;
}

.growWrap>textarea,
.growWrap::after {
    /* Identical styling required!! */
    border: 0;
    font: inherit;

    grid-area: 1 / 1 / 2 / 2;
}


.bubble:focus-within {
    outline: 1px solid #fff !important;
}

.bubble textarea {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: transparent;
    color: #FFF9E4;
    box-shadow: 0;
    overflow: hidden;
    border: 0;
    outline: 0;
    width: 100%;
    padding: 0;
}

.bubble textarea:focus {
    color: #fff !important;
}


.pendRec {
    font-size: smaller;
    outline: 1px solid #3C4A56;
    padding: 6px;
    display: flex;
    flex-direction: row;
    gap: 10px;
}

.pendRec button {
    background: none;
    border: 0;
    outline: 1px solid #fff;
    border-radius: 3px;
    color: #fff;
    font-size: .7em;
}

.btStop:disabled {
    color: #586169;
    outline: 1px solid #586169;
}

.lblRecStatus {
    width: 100px;
}

.lblError {
    color: rgb(188, 40, 40);
    font-weight: 500;
}

.confBox{
    border: 1px solid #999;
    border-radius: 4px;
    padding: 8px;
}
.conflict{
    background-color: #5e2112;
    border: 1px dashed #ddb8af;
    padding: 2px 8px 5px 8px;
    margin: 4px;
    font-size: smaller;
}
.lblWarning{
    font-size: smaller;
    color: #de8b38;
    margin: 10px 0;
}
.btClearConflicts{
    margin: 0 10px;
}

.confBox .collapseHead {
    font-size: small;
}
.confBox .collapseBody {
    font-size: small;
}


.bubbleFooter {
    display: flex;
    flex-direction: row;
    font-size: .7em;
    vertical-align: middle;
    margin-top: 4px;
    color: #A2A59B;
    align-items: center;
}

.bubbleFooter select {
    font-size: .7em;
    background: none;
    border: none;
    outline: 0;
    color: #A2A59B;
    max-width: 120px;
}

.bubbleFooter button {
    font-weight: 500;
    background: none;
    border: 0;
    outline: 0;
    border-radius: 3px;
    color: #A2A59B;
    font-size: .7em;
    margin: 0 10px 0 0;
    transform: translateY(2px);
}

.bubbleFooter .btRecord {
    outline: 1px solid #3C4A56;
}

.bubbleFooter .btRecord.recording {
    outline: 2px solid #f03400;
}

.bubbleFooter .btRecord.processing {
    outline: 2px solid #0078f0;
}

.bubbleFooter button:hover {
    outline: 1px solid #586169;
}

.bubbleFooter .parentLink {
    cursor: pointer;
    font-size: .7em;
}

.bubbleFooter .spacer {
    flex-grow: 2;
}

.bubbleFooter .noteCreation {
    color: #A2A59B;
    margin-right: 10px;
    font-size: .7em;
    transform: translateY(1px);
}

.mnuOptWrap {
    position: relative;
}

.mnuOptWrap {
    margin-right: 5px;
}

.btFakeMenu {
    font-size: .8em;
    padding: 0 6px;
}

.mnuDropdown {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0%;
    left: 0;
    top: 0;
    cursor: pointer;
    padding: 0 5px;
}

.mnuDropdown:hover~.btFakeMenu {
    border-radius: 3px;
    outline: 1px solid #586169;
}

.mnuDropdown option {
    padding: 0 10px;
}


.btNavigate {
    padding: 5px 5px;
    margin: 3px 0;
    background: none;
    border: 0;
    color: #FFF9E4;
    display: block;
    width: 95%;
    text-align: left;
    border-radius: 6px;
}

.btNavigate.btConflicts{
    background-color: #b97714;
}

.btNavigate:hover {
    outline: 1px solid #3C4A56;
}

#folders {
    flex-grow: 2;
}

.btAdd {
    background: none;
    border: none;
    outline: none;
    font-weight: 800;
    font-size: 1em;
    color: #FFF9E4;
}

.viewHeader {
    padding: 0px 5px 10px 0px;
}

.prefix {
    font-size: 1.5em;
    padding: 5px 5px;
    margin: 5px 0;
}

.edFolder {
    font-size: 1.5em;
    padding: 0 5px;
    margin: 3px 3px -5px 3px;
    background: none;
    border: 0;
    color: #FFF9E4;
    display: inline-block;
}

.edFolder:hover {
    outline: 1px solid #3C4A56;
    border-radius: 6px;
}

.folder {
    padding: 5px 5px;
    margin: 3px 0;
    background: none;
    border: 0;
    color: #FFF9E4;
    display: block;
    width: 95%;
    text-align: left;
}

.folder:hover {
    outline: 1px solid #3C4A56;
    border-radius: 6px;
}

.noDisp {
    display: none;
}

.settingHead {
    font-weight: 600;
    font-size: larger;
    margin-left: 5px;
    margin-top: 25px;
    margin-bottom: 5px;
}

.section {
    margin-left: 5px;
}

.section select {
    width: 140px;
    ;
}

.lblSet {
    margin-top: 10px;
    margin-bottom: 4px;
}

.setRow {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.setSpan {
    color: #FFF9E4;
    margin: 0 5px;
    font-size: smaller;
}

.liSetServers {
    padding: 10px 0;
}

.setServer {
    outline: 1px solid #3C4A56;
    padding: 5px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.setServer label {
    display: flex;
    flex-direction: row;
    margin: 0 10px;
}

.setServer input {
    margin-left: 5px;
}

.edSetTextArea {
    width: 400px;
    height: 150px;
}

.btCaution{
    border-radius: 3px;
    background-color: #bb742d;
    color: #fff;
    border: 0;
    outline: 1px solid #fff;
    margin: 0 10px;
}
.btCaution:hover{
    background-color: #9b1a09;
}

.settingDescription {
    font-size: smaller;
    color: #869aa8;
    margin: 10px 0;
}
.settingWarning{
    font-size: smaller;
    color: #de8b38;
    margin: 10px 0;
}

a {
    color: #c5a4f2;
}

a:visited {
    color: #7852ad;
}

.setErr {
    color: rgb(188, 40, 40);
    font-weight: 500;
    font-size: smaller;
}

.collapseHead{
    margin-top: 10px;
    margin-bottom: 4px;
    cursor: pointer;
}
.collapseBody{
    margin-top: 10px;
    margin-bottom: 4px;
}
.btCollapse{
    background: none;
    outline: none;
    border: none;
    color: #fff;
    width: 25px;
    height: 20px;
}